.into {
  display: flex;
  flex-direction: column;
  max-width: 984px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1024px) {
  .into {
    max-width: 928px;
  }
}

@media screen and (max-width: 950px) {
  .into {
    max-width: 800px;
  }
}

@media screen and (max-width: 850px) {
  .into {
    max-width: 750px;
  }
}
@media screen and (max-width: 768px) {
  .into {
    margin-left: 24px;
  }
}

@media screen and (max-width: 425px) {
  .into {
    max-width: 320px;
    margin-left: 16px;
  }
}
